.warna {
  background-color: red;
}
.logo {
  width: 40px;
  height: 40px;
}
.header {
  background-color: red;
  height: 70px;
}
.toggler {
  background-color: transparent;
}

.isi {
  padding-top: 2rem;
}

.sliderimage {
  margin-top: 22px;
}
.slider {
  background-color: rgb(186, 3, 2);
  height: 400px;
  margin-top: -50px;
}
.slide {
  padding-top: 30px;
}
.notive {
  margin-top: 20px;
}
.danger {
  background-color: rgb(186, 3, 2) !important;
}

.slide {
  margin-bottom: 20px;
}

@media only screen and (max-width: 480px) {
  .slider {
    background-color: rgb(186, 3, 2);
    height: 90px;
  }
}
